.idea/
venvpypy/
examples/data/
engine/__pycache__/
*.h5
nilm_models/w_gru/__pycache__/
nilm_models/rnn/__pycache__/
nilm_models/gru/__pycache__/
nilm_models/ss2s/__pycache__/
tff_venvpypy/
nilm_models/dae/__pycache__/
*.png
experiments/dp_fed_model/ckpt_*
nilm_models/__pycache__/
experiments/data/
experiments/fed_model/ckpt_*
experiments/fed_model/model_back/
experiments/dp_fed_model/processed_input_data.pkl
experiments/fed_model/processed_input_data.pkl
*.pkl
experiments/__pycache__/
*.xlsx
experiments/fed_model/__pycache__/
*.pb
experiments/dp_fed_model/pre_trained_models/
experiments/fed_model/pre_trained_models/
experiments/fed_model/
samples/tff_samples/dp_fed_model/pre_trained_models/
